[mysqld]

bind-address=0.0.0.0
# http://www.percona.com/blog/2008/05/31/dns-achilles-heel-mysql-installation/
skip_name_resolve

general_log_file        = /var/lib/mysql.log
general_log             = 1

default_authentication_plugin = mysql_native_password
secure-file-priv=NULL

lower_case_table_names  = 0
collation-server = utf8_unicode_ci
character-set-server = utf8



